*{
    padding: 0;
    margin: 0;
    font-family: "Shrikhand", sans-serif;
    box-sizing: border-box;

}
html {
    height: 100%;
  }

.hero {
    height: 100vh;
    width: 100%;
    background-image: url(../images/backround-image.jpg);
    background-size: cover;
    background-position: center;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}
.logo{
    color: rgb(238, 235, 221);
    font-size: 35px;
    letter-spacing: 4px;
    cursor: pointer;
}
span{
    color: rgb(221, 221, 151);
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}
nav ul li a{
    color: rgb(238, 235, 221);
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}
nav ul li a:hover{
    color: rgb(221, 221, 151);
    transition: .4s;
}
.content{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateT(-50%);
}
h1{
    color: rgb(221, 221, 151);
    margin: 20px 0px 20px;
    
    font-size: 75px;
}
h3{
   color:rgb(226, 221, 195);
   font-size: 25px;
   margin-bottom: 50px;
   
}
h4{
    color: rgb(238, 235, 221);
    letter-spacing: 2px;
    font-size: 20px;
    letter-spacing: 3px;
}
.about{
    width: 100%;
    padding: 100px 0px;
    background-color: rgb(133, 122, 88);
}
.about img{
    height: auto;
    width: 430px;
    border-radius: 20px;
}
.about-text{
    width: 550px;
    margin-left: 25px;
    color: rgb(221, 221, 151);
    
}
.scene {
   width: 1130px;
   max-width: 95%;
   margin: 0 auto; 
   display: flex;
   align-items: center;
   justify-content: space-around;
}
.about-text h2{
    color: rgb(221, 221, 151);
    letter-spacing: 3px;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-text h5{
    letter-spacing: 2px;
    font-size: 25px;
    margin-bottom: 20px;
    text-transform: capitalize;
}
.about-text p {
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}
.work {
    background:rgb(192, 178, 136);
    width: 100%;
    padding: 100px 0px;
    
}
.title h2 {
    color: rgb(221, 221, 151);
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}
.box {
    display: flex;
    justify-content: center;
    
}